.container {
  max-width: 1170px;
  margin: auto;
  text-align: center;
  background-color: rgb(199, 122, 7);
}

.hide {
  display: none;
}

/* sezione EMAIL */
.email_section {
  padding: 20px 0;
}

button {
  margin-top: 10px;
}

#list_section {
  background-color: aquamarine;
  padding: 10px;
}

#list li {
  margin: 10px 0;
  list-style: none;
  font-weight: 600;
  font-size: 20px;
}
